html, body{max-height: 100vh;max-width: 100vw;height: 100%;width: 100%; position: fixed;}

html{background: radial-gradient(50% 50% at 50% 50%, #6e54e4 0%, #273bad 100%);}

div#interface{position: fixed;text-align: center;max-height: 100vh;max-width: 100vw;height: 1px;width: 100%;top: 250px;color: #ffffff;}

h1{font-size: 56px;margin-bottom: 40px; margin: 15px;font-weight: 400;font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;}

strong{font-size: 72px;font-weight: 650; white-space: nowrap ;font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;}

h2{font-weight: 400px;font-size: 22px;margin-top: 30px; margin-left:0;margin-right: 15px;}

@media(max-width: 600px){h1{display: flex;flex-direction: column;font-size: 40px;}h2{font-size: 18px;}}

footer{color: rgb(27, 27, 27); position: fixed;text-align: center;max-height: 100vh;max-width: 100vw; width: 100%;font-size: 15px;}

footer p a{text-decoration: none;color: white;font-size: 13px;}